<div class="section-layout {{ block.settings.layout}}">
  <div class="announcement">{{ block.settings.announcement_text }}</div>
  {% case block.settings.layout %}
    {% comment %}Start of Horizontal layout{% endcomment %}
    {% when 'horizontal' %}
    <div id='second-background-image' class="img-layout full">
      <div class="preheader_text">{{ block.settings.preheader_text }}</div>
      <div class="header_text">{{ block.settings.header_text }}</div>
      <div class="subheader_text">{{ block.settings.subheader_text }}</div>

      <div id="referral-link" class="refferal-container">
        <input
          id="code"
          disabled
          type="text"
          value="3245hjkjhgfdsfghgffd"
          class="referral-link-inp" />
        <button class="copy-link-btn">Copy Link</button>
      </div>

      <div class="socials"></div>
    </div>
    <div class="gift-layout full">
      <div class="some-text">0 friends have joined! Invite friends to Join</div>
      <div class="timeline-group">
        <div class="timeline-headers">
          <div>Friends Joined</div>
          <div>Rewards</div>
        </div>
        <div class="timeline">
          <div class="timeline-progress">&nbsp;</div>
          <div class="timeline-items">
            {% assign products = block.settings.product_list %}
            {% for p in products %}
              <div class="timeline-item-block">
                <div
                  class="timeline-item"
                  onmouseenter="mouseenter(this)"
                  onmouseleave="mouseleave(this)">6<div class="timeline-item-detail" style="display: none;">Invite 6 friends to unlock this reward!</div>
                </div>
                <div
                  class="timeline-item-name"
                  onmouseenter="mouseenterproduct(this)"
                  onmouseleave="mouseleaveproduct(this)">{{ block.settings.icon | image_url: width: 50 | image_tag }}
                  <div class="timeline-contain" style="display: none;">
                    <span>{{ p.title }}</span>
                    <span>{{ p.featured_image | image_url: width: 50 | image_tag }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% comment %}End of Horizontal layout{% endcomment %}
    {% comment %}Start of Vertical layout{% endcomment %}
    {% when 'vertical' %}
    <div id='second-background-image' class="img-layout half">
      <div class="hidden">this div is hidden</div>
    </div>
    <div class="gift-layout half spaced-evenly">
      <div class="vertical spaced">
        <div class="preheader_text">{{ block.settings.preheader_text }}</div>
        <div class="header_text">{{ block.settings.header_text }}</div>
        <div class="subheader_text">{{ block.settings.subheader_text }}</div>
        <div id="referral-link"></div>
        <div class="socials"></div>
      </div>
      <div class="spaced some-text">0 friends have joined! Invite friends to Join</div>
      <div class="vertical-timeline-headers">
        <div>Friends Joined</div>
        <div>Rewards</div>
      </div>

      <div class="spaced vertical-timeline">
        <div class="vertical-timeline-progress">&nbsp;</div>
        <div class="vertical-timeline-items">
          {% assign products = block.settings.product_list %}
          {% for p in products %}
            <div>
              <div class="vertical-timeline-item-block">
                <div
                  class="vertical-timeline-item"
                  onmouseenter="mouseenter(this)"
                  onmouseleave="mouseleave(this)">6
                  <div class="vertical-timeline-item-detail" style="display: none;">Invite 6 friends to unlock this reward!</div>
                </div>
                <div
                  class="vertical-timeline-item-name"
                  onmouseenter="mouseenterproduct(this)"
                  onmouseleave="mouseleaveproduct(this)">{{ block.settings.icon | image_url: width: 50 | image_tag }}
                  <div class="vertical-timeline-contain" style="display: none;">
                    <span>{{ p.title }}</span>
                    <span>{{ p.featured_image | image_url: width: 50 | image_tag }}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

  {% endcase %}
  <div class="footer_text {% if block.settings.layout == 'vertical' %}right-side{% endif %}">
    {{ block.settings.footer_text }}</div>
</div>